@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --main_color:#0090f0;
    --p_color:#7b7b7b;
    --bg_color:#F3F3F3;
    --white_color:#FFF;
    --color_heading:#253237;
    --border_color:#d6d6d6d5;
}

body{
    background: #FFF;
    font-family: "Inter", sans-serif;
    padding-top: 150px;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color_heading);
    font-family: 'DM Sans', sans-serif;
}

span{
    color: var(--main_color);
}

p{
    color: var(--p_color);
}

input,button, textarea, select{
   outline: none;
   border: none;
}

a{
    text-decoration: none;
    color: var(--color_heading);
}

.container{
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

.btn{
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--main_color);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
    width: max-content;

}

.btn:hover{
    scale: 1.1;
}


h1 {
  font-size: 2.5rem; /* أو حسب اللي يعجبك */
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.added{
}